legend {
   display:block;
   position:absolute;
   top:5px;
   left:18px;
   font-weight:bold;
   font-size:larger;
}

fieldset {
   position:relative;
   padding-top:20px;
}

input[type="text"] {
   margin:10px;
   border 1px solid #ccc;
   box-shadow: inset 0 1px 3px #ddd;
   box-sizing: border-box;
   border-radius:5px;


}


fieldset, table {
   font-family:Arial, Helvetica, sans-serif;
   color:#666;
   font-size:12px;
   text-shadow: 1px 1px 0px #fff;
   background:#eaebec;
   margin:20px;
   border:#ccc 1px solid;

   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;

   -moz-box-shadow: 0 1px 2px #d1d1d1;
   -webkit-box-shadow: 0 1px 2px #d1d1d1;
   box-shadow: 0 1px 2px #d1d1d1;
}
table th {
   padding:0px;
   //padding:21px 25px 22px 25px;
   border-top:1px solid #fafafa;
   border-bottom:1px solid #e0e0e0;

   background: #ededed;
   background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
   background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table tr:first-child th:first-child {
   -moz-border-radius-topleft:3px;
   -webkit-border-top-left-radius:3px;
   border-top-left-radius:3px;
}
table tr:first-child th:last-child {
   -moz-border-radius-topright:3px;
   -webkit-border-top-right-radius:3px;
   border-top-right-radius:3px;
}
table tr {
   text-align: center;
   padding-left:20px;
}
table td:first-child {
   text-align: left;
   padding-left:20px;
   border-left: 0;
}
table td {
   padding:0px 10px 0px 10px;
   border-top: 1px solid #ffffff;
   border-bottom:1px solid #e0e0e0;
   border-left: 1px solid #e0e0e0;

   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
   background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
   background: #f6f6f6;
   background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
   background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
   border-bottom:0;
}

table tr:last-child, td:last-child {
   height:100%;
}
td form {
   float:left;
   margin:0px;
   padding:0px;
}

td form input { // button
   display:inline-block;
   color: white;
   border: none;
   padding:5px 18px;
   margin:5px 5px 5px 0px;

   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;

   transition: background-color .2s ease-in-out;
   -moz-transition: background-color .2s ease-in-out;
   -webkit-transition: background-color .2s ease-in-out;
}
td form input:hover {
   transition: background-color .2s ease-in-out;
   -moz-transition: background-color .2s ease-in-out;
   -webkit-transition: background-color .2s ease-in-out;
}

.delete-button {
   background-color: #c81414;
}
.delete-button:hover{
   background-color: #E83434;
}

.complete-button {
   background-color: #82b440;
}
.complete-button:hover {
   background-color: #92C450;
}

table tr:last-child td:first-child {
   -moz-border-radius-bottomleft:3px;
   -webkit-border-bottom-left-radius:3px;
   border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
   -moz-border-radius-bottomright:3px;
   -webkit-border-bottom-right-radius:3px;
   border-bottom-right-radius:3px;
}
table tr:hover td {
   background: #f2f2f2;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
   background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

.preload * {
   -moz-transition: none !important;
   -webkit-transition: none !important;
   transition: none !important;
}
